* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.signup-box {
  width: 380px;
  height: 450px;
  margin: calc(6% + 66px) auto 6%;
  background-color: #023047;
  display: none;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

.signup-box.active {
  display: flex;
}

.signup-box h2 {
  margin-top: 20%;
  margin: 20% 0 5%;
}

.signup-box input {
  border: 3px solid #3f78a0;
  background: #023047;
  height: 50px;
  padding: 15px;
  margin: 5px 0;
  color: #90e0ef;
  transition: all 0.1s ease-out;

  border-radius: 8px;
}

.signup-box input::placeholder {
  color: #caf0f8;
}

.signup-box input:focus,
.signup-box input:hover {
  border-color: #8ecae6;
  border-width: 2px;
  transition: all 0.1s ease-out;
  outline: none;
}
.signup-box .no-acc {
  margin: 8px 0;
  color: #caf0f8;
}

.signup-box .login-btn {
  width: 200px;
  color: #023e8a;
  border-color: #0077b6;
  background-color: #00b4d8;
}
